/* Print Style Sheet */

@media print {
  body {
    background: white;
    font-size: 10pt;
    margin: 0;
  }
  #sidebar {
    display: none;
  }
  #header {
    height: 75px;
  }
  #content {
    margin-left: 0;
    float: none;
    width: auto;
  }
  .demo .red {
    color: black;
    font-weight: bold;
  }
  #content a {
    font-weight: bold;
    color: #000066;
    text-decoration: underline;
  }
  #content {
    margin-left: 0;
    float: none;
    width: auto;
  }
  #footer,
  .ad {
    display: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }
  h3 {
    margin-left: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  blockquote,
  table,
  pre {
    page-break-inside: avoid;
  }
  ul,
  ol,
  dl {
    page-break-before: avoid;
  }
  img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  img.right {
    padding: 4px;
    margin: 0 0 2px 7px;
    display: inline;
  }
  img.left {
    padding: 4px;
    margin: 0 7px 2px 0;
    display: inline;
  }
  .right {
    float: right;
  }
  .left {
    float: left;
  }
  img {
    page-break-inside: avoid;
    page-break-after: avoid;
  }
  .slider,
  .main,
  header,
  footer,
  section {
    display: block;
  }
  #header {
    height: 300px;
    background: red;
  }
  a[href]:after {
    content: none !important;
  }
  header .nav_main a {
    display: none;
  }
  header h6.logo a {
    background: rgba(0, 0, 0, 0)
      url("/wp-content/themes/exception-child/images/logo.png") no-repeat scroll
      left top;
    display: block;
    height: 85px;
    left: 0;
    margin: 20px 0 0 5px;
    position: absolute;
    top: 0;
    width: 215px;
    z-index: 1;
  }
  .nav_main {
    display: inline-block;
  }
  .banner_top {
    display: none;
  }
}
